<div class="hero">
  <br />
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>Learn Everything Here</h1>
    <br />
    <h2>Or, y'know, something.</h2>
    <br />
    <%= link_to 'Enter the Void', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <h2>Features of Viducation</h2>
  <br />
  <div class="col-sm-4 booyah-box feature">
    <h3>Custom Lesson Videos</h3>
    <br />
    <img src = "assets/video lesson2.png" width = "100%" />
  </div>
  <div class="col-sm-4 booyah-box feature">
    <h3>Personalized Dashboard</h3>
    <br />
    <img src = "assets/dash.png" width = "100%" />
  </div>
  <div class="col-sm-4 booyah-box feature">
    <h3>Advanced Admin Abilities</h3>
    <br />
    <img src = "assets/admin2.png" width = "100%" />
  </div>
</div>