<br />

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1 class = text-center>About the Team</h1>
  <br class = "clr"/>

  <div class = "col-xs-3 text-center">
  <img src = "assets/twitter.jpg" class = "me"/>
  </div>
  <div class = "col-xs-9">
  <p>
    Rosie is the developer of <%= link_to 'Viducation', root_path %>, <a href = "http://nomster-rosie-highsmith.herokuapp.com/">Nomster</a>, and <a href = "http://blurty-rosie-highsmith.herokuapp.com/">Blurty</a> which are all projects for the <a href= "https://www.thefirehoseproject.com/">Firehose Project</a>. She's located in San Diego, CA and is interested in front end development and meaningful software. 
  </p>

  <p>
    You can find Rosie on <a href = "https://www.github.com/rosiehighsmith">Github</a>, <a href = "https://www.linkedin.com/in/rosiehighsmith">LinkedIn</a>, and <a href = "https://www.twitter.com/rosiehighsmith">Twitter</a>.
  </p>

  <p>
    Additional resources for building web applications similar to those written by Rosie are the <a href = "https://www.ruby-lang.org/en/">official Ruby site</a>, <a href = "https://www.codecademy.com/learn/ruby">Codeacademy</a>, and Michael Hartl's <a href = "https://www.railstutorial.org/">Rails Tutorial</a>. Feel free to reach out with more questions <a href = "mailto:rosiehighsmith@gmail.com">here</a>.
  </p>
  </div>
  <br />
  <br />
</div>