@import "bootstrap-sprockets";
@import "bootstrap";

@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Arvo';

.navbar {
  border-radius: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  box-shadow: 0px 1px 6px #2a2a2a;
  background: url('restaurant.png');
  border-width: 0;
}

.navbar-inverse .navbar-nav > li > a {
  color: #4c4c4c;
}

.navbar-inverse a.navbar-brand {
  color: white;
  font-size: 32px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px;
}

.hero {
  background: url(snow.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background:rgba(57, 95, 95, 0.4);
  color:white;
}

.frosty h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.5) 1px 1px;
}

.frosty h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  text-shadow: rgba(0,0,0,0.5) 1px 1px;
}

.btn {
  border-radius: 0;
}

body {
  background: url('p6.png');
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif

}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:10px;
}

.booyah-box h2, .booyah-box h1 {
  margin:10px;
}

.clr {
  clear: both;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
  margin: 10px;
}

.img-responsive {
  margin: auto;
}

.lesson {
  background-color: black;
  margin-top: 10px;
  height: 130px;
}

.lesson a {
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 15px;
}

.lesson a b {
  font-weight: 100;
  font-size: 25px;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

ul {
  list-style-type: none;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin: 20px;
}

ul .header {
  font-size: 25px;
}

ul .header .glyphicon {
  font-size: 20px;
  vertical-align: text-top;
}

.lessons li {
  background: black;
  color: white;
  margin: 10px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  padding: 8px;
  font-size: 15px;
}

.lessons li b {
  font-size: 25px;
  font-weight: 100;
}

.lessons li p {
  margin: 0;
}

ul .lessons {
  margin: 0 auto;
}

.gray {
  height: 2px;
  background-color: #919191;
  border: none;
  width: 220px;
  margin: 8px auto;
}

.feature {
  height: 320px;
}

.me {
  height: 120px;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
}

.dash-title {
  font-family: "Arvo", sans-serif;
  text-shadow: rgba(0,0,0,0.5) 1px 1px;
  font-size: 40px;
}

.container {
    width: 100%;
}
.container ul {
    padding: 0; /* remove default padding and all margins! */
    margin: 0 auto;
    list-style-type: none; /* remove the • */
}
.container ul li {
    width: 27%;
    height: 350px;
    float: left;
    border: solid 1px black;
    box-shadow: 0px 3px 8px #2a2a2a;
    margin: 15px;
}

.course-title {
  font-size: 18px;
}

.btn-primary.btn-large {
  width: 95%;
  text-align: center;
  text-transform: uppercase;
}

.description-box {
  width: 95%;
  height: 43px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#container {
  display:                 flex;
  display:                 -webkit-flex; /* Safari 8 */
  flex-wrap:               wrap;
  -webkit-flex-wrap:       wrap;         /* Safari 8 */
  justify-content:         center;
  -webkit-justify-content: center;       /* Safari 8 */
}

.block {
  width:              27%;
  height:             350px;
  background-color:   white;
  border: solid 1px black;
  box-shadow: 0px 3px 8px #2a2a2a;
  margin:             15px;        
}

